.hero-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    margin: 30px;
    margin-right: 50px;
    line-height: 2;
    
}

.rubric {
    font-weight: bold;
    margin-bottom: 25px;
}

.hero-image {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.hero-name {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 25px;
}

